amqp==2.3.2
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
billiard==3.5.0.4
celery==4.2.1
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.3.1
cssselect==1.0.3
dateparser==0.7.0
Django==2.1.2
https://github.com/mher/flower/zipball/master
gunicorn==19.9.0
html2text==2018.1.9
humanize==0.5.1
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
kombu==4.2.1
lxml==4.2.5
maya==0.5.0
parsel==1.5.0
pendulum==2.0.3
pipdeptree==0.13.1
psycopg2-binary==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
python-dateutil==2.7.3
pytz==2018.5
pytzdata==2018.5
queuelib==1.5.0
redis==2.10.6
regex==2018.8.29
requests==2.19.1
ruamel.yaml==0.15.73
Scrapy==1.5.1
service-identity==17.0.0
six==1.11.0
snaptime==0.2.4
Twisted==18.9.0
tzlocal==1.5.1
urllib3==1.24
vine==1.1.4
w3lib==1.19.0
zope.interface==4.5.0
