amqp==2.3.2
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
Babel==2.9.1
billiard==3.5.0.4
celery==5.2.2
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.4.2
cssselect==1.0.3
dateparser==0.7.0
Django==2.2.13
https://github.com/dinofizz/flower/zipball/auth_callback
gunicorn==19.9.0
html2text==2018.1.9
humanize==0.5.1
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
kombu==4.2.1
lxml==4.6.5
maya==0.5.0
parsel==1.5.1
pendulum==2.0.4
pipdeptree==0.13.1
psycopg2-binary==2.7.6.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
python-dateutil==2.7.5
pytz==2018.7
pytzdata==2018.7
queuelib==1.5.0
redis==2.10.6
regex==2018.11.22
requests==2.20.1
ruamel.yaml==0.15.79
Scrapy==2.6.2
service-identity==17.0.0
six==1.11.0
snaptime==0.2.4
tornado==5.1.1
Twisted==19.7.0
tzlocal==1.5.1
urllib3==1.24.2
vine==1.1.4
w3lib==1.19.0
zope.interface==4.6.0
